name: 'Parkshare'

services:
  postgres:
    image: postgis/postgis:18-3.6
    container_name: parkshare-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U parkshare"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
