# fly.toml app configuration file generated for park-share on 2026-01-04T07:02:16Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'park-share'
primary_region = 'sjc'

[build]
  [build.args]
    GO_VERSION = '1.25.5'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
